%h2 Brackets
.article
  - if @task.eyecatch.attached?
    .article_image
      = image_tag @task.eyecatch
  %h1.article_title= @task.name
  .article_detail
    = image_tag 'default-avatar.png'
    %div
    - if user_signed_in? && current_user.tasks.exists?(id: @task.id)
      .article_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to 'Edit', edit_board_task_path(@board, @task)
            = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete', confirm: '本当に？'}
    
      .article_content
        = @task.description
  

.article
  %h2  Comment
  - @comments.each do |comment|
    .article_detail
      = image_tag 'default-avatar.png'
      .article_comment
        %p= comment.content

.container
  = link_to new_board_task_comment_path(task_id: @task.id) do
    .btn-secondary
      +Add new comment

