%h2 Brackets
.article
  - if @task.eyecatch.attached?
    .article_image
      = image_tag @task.eyecatch
  %h1.article_title= @task.name
  .article_detail
    = image_tag 'default-avatar.png'
    %div
    - if user_signed_in? && current_user.tasks.exists?(id: @task.id)
      .article_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_board_task_path(@board, @task)
            = link_to '削除する', board_task_path(@board, @task), data: { method: 'delete', confirm: '本当に？'}
    
      .article_content
        = @task.description
  .article_heart
    = image_tag 'heart.svg'

.article
  %h2  コメント一覧
  - @comments.each do |comment|
    .article_comment
      %p= comment.content

.container
  = link_to new_board_task_comment_path(task_id: @task.id) do
    .btn-secondary
      +Add new comment

