%h2 All Boards
.container
  - @boards.each do |board|
    = link_to board_tasks_path(board) do
      .card
        .card_content
          .card_title
            = board.name
          .card_heart
            = image_tag 'heart.svg'
            %span 23
          .card_detail
            = image_tag 'default-avatar.png'
            %div
              %p= board.user.display_name
              %p= board.display_created_at

.container
  = link_to new_board_path do
    .btn-secondary
      +Add new board
