%h2 All Boards
.container
  - @boards.each do |board|
    .article 
      = link_to board_tasks_path(board_id: board.id) do
        .article_title
          = board.name
        %div 
        - if user_signed_in? && current_user.boards.exists?(id: board.id)
          .article_detail_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_path(board)
                = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に？'}
        .article_content
          = board.description
        .article_detail
          = image_tag 'default-avatar.png'
.container
  = link_to new_board_path do
    .btn-secondary
      +Add new board
