.article
  %h1.article_title= @board.name
  .article_detail
    = image_tag 'default-avatar.png'
    %div
      %p cohki0305
      %p= @board.display_created_at
    - if user_signed_in?
      .article_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'       
          .dropdown-content.mini
            = link_to '編集する', edit_board_path(@board)
            = link_to '削除する', board_path(@board), data: { method: 'delete', confirm: '本当に？'}
  .article_content
    = @board.description
  .article_heart
    = image_tag 'heart.svg'
